@import "./detail.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

 /*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000000;
	font-family: "Comfortaa", Arial, sans-serif;
    font: initial;
	font-size: 14px;
	line-height: 1.5;
	margin: 8px;
	text-align: left;

}
h1{
    font-family: "Patua One", serif;
    letter-spacing: 2px;   
}

h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}
 
html { 
    background: url(https://image.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  } 
.logo {
    display: flex;
    justify-content: left;
    background-color: transparent;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 35px;
	line-height: 1.5;
	margin: 8px;
}
  